<%= turbo_frame_tag :remote_model, target: '_top' do%>
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="bsTurboModal" aria-hidden="true" data-controller="bs-model">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="bsTurboModal"><%= modal_title %></h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <%= render form_partial %>
      </div>
    </div>
  </div>
<% end %>
